*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    max-width: 100%;
    background-color: #F2CC8F;
}

nav{
    background-color: #3D405B;
    color: #E07A5F;
    padding: 1vh 1vw 1vh 1vw;
    a{
        font-weight: bold;
        font-size: 2vh;
    }
}

a{
    color: #E07A5F;
    text-decoration: none;
}

.dozrobienia{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.realizowane{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wykonane{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


main{
    padding: 1% 5%;
}
.zadanie{
    background-color: #F4F1DE;
    padding: 2vh 1vw;
    width: 20%;
    text-align: center;
    height: 10vh;
    margin-top: 1%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 50%;
}

.zadanie:hover{
    transform: scale(1.1);
}

.zadania{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    width: 100%;
}

.dodawanie{
    background-color: rgba(0,0,0,0.5);
    color: gray;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20%;
    text-align: center;
    height: 10vh;
    margin-top: 1%;
    border-radius: 25px;
    font-size: 200%;
    user-select: none;
}
.dodawanie:hover{
    transform: scale(1.1);
}

.statusy-h1{
    text-align: center;
    color: #3D405B;
    font-size: 5vw;
}

form
{
    label{
        color: #3D405B;
        font-size: 1vw;
        font-weight: bold;
    }
    h1{
        color: #3D405B;
        font-size: 2vw;
    }
    
    input[type="text"]{
        width: 100%;
        height: 2vw;
        border: none;
        padding: 0 1vw;
        border-radius: 25px;
    }

    textarea{
        resize: none;
        border: none;
        width: 100%;
        height: 4vw;
        border: none;
        border-radius: 25px;
        padding: 0.5vw;
    }

    input[type="date"]{
        border: none;
        padding: 1vh 0.5vw;
        border-radius: 25px;
    }
    .form-left, .form-right{
        float: left;
    }

    .form-left{
        width: 25%;
    }

    .form-right{
        width: 75%;
    }

    .przeslij{
        clear: both;
        display: flex;
        justify-content: center;
        input{
            background-color: #E07A5F;
            padding: 2vh 1vw;
            border: none;
            border-radius: 25px;
            color: white;
            font-weight: bold;
            font-size: 1vw;
        }
        input:hover{
            background-color: #D64E29;
        }
    }
}